services:
  app:
    image: {{.ProjectName}}:latest
    build: .
    volumes:
      - .:/app
      - node_modules:/app/node_modules
    environment:
      NODE_ENV: development
    ports:
      - "127.0.0.1:5173:5173"
    command: /bin/bash
    tty: true
volumes:
  node_modules:
