{
  "name": "{{.ProjectName}}",
  "dockerComposeFile": ["../docker-compose.yml"],
  "service": "app",
  "workspaceFolder": "/app",
  "customizations": {
    "vscode": {
      "extensions": [
        "dbaeumer.vscode-eslint",
        "mhutchie.git-graph",
        "seatonjiang.gitmoji-vscode",
        "yzhang.markdown-all-in-one",
        "christian-kohler.path-intellisense",
        "esbenp.prettier-vscode",
        "bradlc.vscode-tailwindcss"
      ],
      "settings": {
        // editor
        "editor.codeActionsOnSave": {
          "source.addMissingImports": "explicit",
          "source.fixAll.eslint": "explicit"
        },
        "editor.defaultFormatter": "esbenp.prettier-vscode",
        "editor.formatOnSave": true,
        "editor.linkedEditing": true,
        "editor.quickSuggestions": {
          "strings": "on"
        },

        // files
        "files.associations": {
          "*.css": "tailwindcss"
        },
        "files.eol": "auto",

        // git-graph
        "git-graph.repository.fetchAndPrune": true,

        // path-intellisense
        "path-intellisense.mappings": {
          "/": "${workspaceFolder}/public"
        },

        // typescript
        "typescript.preferences.importModuleSpecifier": "non-relative",
        "typescript.suggest.paths": false,
        "typescript.tsserver.experimental.enableProjectDiagnostics": true,
        "typescript.updateImportsOnFileMove.enabled": "always",
        "javascript.updateImportsOnFileMove.enabled": "always"
      }
    }
  }
}
